<div id="<%= dom_id food_resource %>">
  <p>
    <strong>Name:</strong>
    <%= food_resource.name %>
  </p>

  <p>
    <strong>Address line1:</strong>
    <%= food_resource.address_line1 %>
  </p>

  <p>
    <strong>Address line2:</strong>
    <%= food_resource.address_line2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= food_resource.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= food_resource.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= food_resource.zip_code %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= food_resource.phone_number %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= food_resource.contact %>
  </p>

  <p>
    <strong>Verified:</strong>
    <%= food_resource.verified %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= food_resource.comments %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= food_resource.town_id %>
  </p>

</div>
