<p style="color: green"><%= notice %></p>

<%= render @food_resource %>

<div>
  <%= link_to "Edit this food resource", edit_food_resource_path(@food_resource) %> |
  <%= link_to "Back to food resources", food_resources_path %>

  <%= button_to "Destroy this food resource", @food_resource, method: :delete %>
</div>
